* {box-sizing: border-box;}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
}


/*  Navbar Styling */
.nav {
  overflow: hidden;
  background-color: white;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);;
}

.nav .search {
  float: right;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc; ;
  border-radius: 5px;
  font-size: 16;
}

.nav button {
  margin-right: 16px;
  cursor: pointer;
}

.nav img {
  margin: 0.5rem;
}


/* List Recipe Styling */
.media {
  overflow: hidden;
  background-color: white;
  max-width: 50%;
  margin: 0 0 1rem 5rem;
}
.media img {
  width: 10rem;
  float: left;
  margin: 0 1rem 0 0;
}
.media .content h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
.media .content > div {
  padding-left: calc(100px + 1rem);
}
.media .content a {
  background-color: #f15b2b;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
}
.content a:hover {
  background-color: #941c1c;
}


/* Loading Styling */
.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Error Styling */
.error {
  margin-top: 5rem;
  text-align: center;
  display: none;
}